In [64]:
import math
import numpy
from scipy.stats import norm

In [14]:
2-2*norm.cdf((0.07/0.4)*(math.sqrt(160)))

0.026856695507524453

Task3 
В одном из выпусков программы "Разрушители легенд" проверялось, действительно ли заразительна зевота. В эксперименте участвовало 50 испытуемых, проходивших собеседование на программу. Каждый из них разговаривал с рекрутером; в конце 34 из 50 бесед рекрутер зевал. Затем испытуемых просили подождать решения рекрутера в соседней пустой комнате.
Во время ожидания 10 из 34 испытуемых экспериментальной группы и 4 из 16 испытуемых контрольной начали зевать. Таким образом, разница в доле зевающих людей в этих двух группах составила примерно 4.4%. Ведущие заключили, что миф о заразительности зевоты подтверждён.
Можно ли утверждать, что доли зевающих в контрольной и экспериментальной группах отличаются статистически значимо? Посчитайте достигаемый уровень значимости при альтернативе заразительности зевоты, округлите до четырёх знаков после десятичной точки.

In [ ]:
p1=10/34; p2=4/16; n1=34; n2=16
p=(p1*n1+p2*n2)/(n1+n2)
Z=(p1-p2)/math.sqrt(p*(1-p)*(1/n1+1/n2))

In [12]:
print(p1, p2, p, Z)

0.29411764705882354 0.25 0.28 0.32410186177608225

In [16]:
round(2-2*norm.cdf(Z), 4)

0.7459

Task4
Имеются данные измерений двухсот швейцарских тысячефранковых банкнот, бывших в обращении в первой половине XX века. Сто из банкнот были настоящими, и сто — поддельными. На рисунке ниже показаны измеренные признаки: X1-X6
Отделите 50 случайных наблюдений в тестовую выборку с помощью функции sklearn.cross_validation.train_test_split (зафиксируйте random state = 1). На оставшихся 150 настройте два классификатора поддельности банкнот:

логистическая регрессия по признакам X_1,X_2,X_3X 
логистическая регрессия по признакам X_4,X_5,X_6X 
Каждым из классификаторов сделайте предсказания меток классов на тестовой выборке. Одинаковы ли доли ошибочных предсказаний двух классификаторов? Проверьте гипотезу, вычислите достигаемый уровень значимости. Введите номер первой значащей цифры (например, если вы получили 5.5\times10^{-8}5.5×10 
−8 , нужно ввести 8).

In [25]:
import pandas as pd
from sklearn import model_selection, linear_model

In [22]:
data = pd.read_csv('h:\\MyProj\\Courcera\\Ml-mipt\\course4\\week2a\\work\\task1\\banknotes.txt', sep = '\t', header = 0)
data.columns = ['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'real']

In [23]:
data.head()

      X1     X2     X3    X4    X5     X6  real
0  214.8  131.0  131.1   9.0   9.7  141.0     1
1  214.6  129.7  129.7   8.1   9.5  141.7     1
2  214.8  129.7  129.7   8.7   9.6  142.2     1
3  214.8  129.7  129.6   7.5  10.4  142.0     1
4  215.0  129.6  129.7  10.4   7.7  141.8     1

In [28]:
train_data, test_data = model_selection.train_test_split(data, test_size = 0.25, random_state = 1)

In [42]:
#type(train_data)
train_labels=train_data.loc[:,'real']
train_data1=train_data.loc[:,['X1','X2','X3']]
train_data2=train_data.loc[:,['X4','X5','X6']]

In [49]:
log_regressor1 = linear_model.LogisticRegression(random_state = 1)
log_regressor1.fit(train_data1, train_labels)
log_regressor2 = linear_model.LogisticRegression(random_state = 1)
log_regressor2.fit(train_data2, train_labels)

d:\PyPrograms\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
d:\PyPrograms\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=1, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [50]:
test_labels=test_data.loc[:,'real']
test_data1=test_data.loc[:,['X1','X2','X3']]
test_data2=test_data.loc[:,['X4','X5','X6']]

In [53]:
lr_predictions1 = log_regressor1.predict(test_data1)
lr_predictions2 = log_regressor2.predict(test_data2)

In [59]:
#test_arrlabels = test_labels.to_numpy()
print(test_arrlabels)
print(lr_predictions1)
print(lr_predictions2)

[1 1 1 0 0 0 1 1 1 0 0 1 1 1 0 0 0 1 0 1 1 1 1 1 1 0 1 1 0 1 1 0 0 0 0 1 0
 1 1 0 0 0 0 1 1 1 0 1 0 0]
[1 1 1 0 0 0 1 1 1 1 0 1 1 1 0 0 0 0 0 1 1 0 1 1 1 0 1 1 0 0 1 0 0 0 0 1 0
 0 0 0 1 0 0 1 1 0 1 0 0 0]
[1 1 1 0 0 0 1 1 1 0 0 1 1 1 1 0 0 1 0 1 1 1 1 1 1 0 1 1 0 1 1 0 0 0 0 1 0
 1 1 0 0 0 0 1 1 1 0 1 0 0]

In [67]:
predictions1 = numpy.abs(test_arrlabels-lr_predictions1)
predictions2 = numpy.abs(test_arrlabels-lr_predictions2)

In [80]:
print(predictions1-predictions2)
predictions1.size

[ 0  0  0  0  0  0  0  0  0  1  0  0  0  0 -1  0  0  1  0  0  0  1  0  0
  0  0  0  0  0  1  0  0  0  0  0  0  0  1  1  0  1  0  0  0  0  1  1  1
  0  0]

50

In [88]:
#p1=10/50; p2=1/50; n1=50; n2=50
#p=(p1*n1+p2*n2)/(n1+n2)
#Z=(p1-p2)/math.sqrt(p*(1-p)*(1/n1+1/n2))
f=10; g=1; n=50
Z=(f-g)/math.sqrt(f+g-(((f-g)**2)/50))
print(Z)

2.9386041680175268

In [86]:
print("p-value ", 2-2*norm.cdf(Z))

p-value  0.0032969384555543435

In [90]:
qn = norm.ppf(0.975)
low = (f-g)/n - qn*math.sqrt(((f+g)/n**2)-((f-g)**2/n**3))
high = (f-g)/n + qn*math.sqrt(((f+g)/n**2)-((f-g)**2/n**3))
print(low, high)

0.059945206279614305 0.3000547937203857

Ежегодно более 200000 людей по всему миру сдают стандартизированный экзамен GMAT при поступлении на программы MBA. Средний результат составляет 525 баллов, стандартное отклонение — 100 баллов.
Сто студентов закончили специальные подготовительные курсы и сдали экзамен. Средний полученный ими балл — 541.4. Проверьте гипотезу о неэффективности программы против односторонней альтернативы о том, что программа работает. Отвергается ли на уровне значимости 0.05 нулевая гипотеза? Введите достигаемый уровень значимости, округлённый до 4 знаков после десятичной точки.

In [94]:
Z=((541.5-525)/100)*math.sqrt(100)
pval = 1-norm.cdf(Z)
print(pval)

0.0494714680336481