In [29]:
import pandas as pd
import numpy as np
import scipy.stats

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

In [2]:
water = pd.read_csv('h:\\MyProj\\Courcera\\Ml-mipt\\course4\\week3a\\work\\water.txt', sep = '\t', header = 0)

In [8]:
water.head()
#type(water)

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

In [9]:
all_correlation = water.corr(method='pearson')
all_correlation.head()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

В предыдущей задаче посчитайте значение коэффициента корреляции Спирмена между средней годовой смертностью и жёсткостью воды. Округлите до четырёх знаков после десятичной точки.

In [11]:
all_superman = water.corr(method='spearman')
all_superman.head()

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

Сохраняется ли связь между признаками, если разбить выборку на северные и южные города? Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [13]:
water_south = water[water['location']  == 'South'].corr(method='pearson')
water_north = water[water['location']  == 'North'].corr(method='pearson')

In [14]:
water_south

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [15]:
water_north

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

In [22]:
a=239;b=515;c=203;d=718
MCC=(a*d-b*c)/(((a+b)*(a+c)*(b+d)*(c+d))**(1/2))
print("MCC=",MCC)

MCC= 0.10900237458678963

В предыдущей задаче проверьте, значимо ли коэффициент корреляции Мэтьюса отличается от нуля. Посчитайте достигаемый уровень значимости; используйте функцию scipy.stats.chi2_contingency. Введите номер первой значащей цифры (например, если вы получили 5.5\times10^{-8}5.5×10 
−8
 , нужно ввести 8).

In [27]:
from scipy.stats import chi2_contingency
obs = np.array([[239.0, 515.0], [203.0, 718.0]])

In [28]:
chi2_contingency(obs)

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[198.96597015, 555.03402985],
        [243.03402985, 677.96597015]]))

Вариант 2

In [33]:
n=(a+b+c+d)
xi = (a+b+c+d)*MCC*MCC
pv=2-2*scipy.stats.chi2.cdf(xi, 1)
print("stat=",xi,"p-value=",pv)

stat= 19.90154208981099 p-value= 1.6306906179153202e-05

In [31]:
2-2*scipy.stats.chi2.cdf(xi, 1)

0.9999918465469104

В предыдущей задаче давайте попробуем ответить на немного другой вопрос: отличаются ли доля мужчин и доля женщин, относительно часто проводящих вечера в баре? Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница? Округлите до четырёх знаков после десятичной точки.

In [34]:
def proportions_diff_confint_ind(a1, n1, a2, n2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)
    
    p1 = float(a1) / n1
    p2 = float(a2) / n2
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ n1 + p2 * (1 - p2)/ n2)
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ n1 + p2 * (1 - p2)/ n2)
    
    return (left_boundary, right_boundary)

In [35]:
print("95%% confidence interval for a difference between proportions: [%f, %f]" %\
      proportions_diff_confint_ind(239,239+515,203, 203+718))

95% confidence interval for a difference between proportions: [0.053905, 0.139222]

Проверьте гипотезу о равенстве долей любителей часто проводить вечера в баре среди мужчин и женщин. Посчитайте достигаемый уровень значимости, используя двустороннюю альтернативу. Введите номер первой значащей цифры (например, если вы получили 5.5\times10^{-8}5.5×10 
−8
 , нужно ввести 8).

In [36]:
def proportions_diff_z_stat_ind(a1, n1, a2, n2):
    p1 = float(a1)/n1
    p2 = float(a2)/n2
    P = float((p1*n1 + p2*n2)) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [37]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [38]:
print("p-value: %f" % proportions_diff_z_test(proportions_diff_z_stat_ind(239,239+515,203, 203+718)))

p-value: 0.000008

Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"

Не доволен	Более или менее	Доволен
Не очень счастлив	197	111	33
Достаточно счастлив	382	685	331
Очень счастлив	110	342	333
Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки.

In [39]:
obs2 = np.array([[197, 111, 33], [382, 685, 331], [110, 342, 333]])
chi2_contingency(obs2)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

In [40]:
xi22 =293.68311039689746
nn = 197+111+33+382+685+331+110+342+333
vKr = (xi22/(2*nn))**(1/2)

In [41]:
print("V Крамера value: %f" % vKr)

V Крамера value: 0.241201