In [64]:
import pandas as pd
import numpy as np
from sklearn.cluster import MeanShift

In [38]:
data = pd.read_csv('c:/MyProj/Coursera/Ml-mipt/course3/week1b/work/data/checkins.dat', sep = '|')
data_obj = data.select_dtypes(['object'])
data[data_obj.columns] = data_obj.apply(lambda x: x.str.strip())
data.shape

(1021966, 6)

In [51]:
dfA = data.loc[(data['     latitude      '].str.strip() != '' ) & ( data['     longitude     '].str.strip() != '')]
dfA.shape
#type(data)
#list(data.columns.values)
#data['     latitude      '].str.strip() == '', data['     latitude      ']
#type(data['     latitude      ']) #.trim().notnull()
#data_obj = data.select_dtypes(['object'])
#data[data_obj.columns] = data_obj.apply(lambda x: x.str.strip())
#print(data)

(396634, 6)

In [58]:
df = dfA.iloc[0:100000,[3,4]]
print(df)
#data.iloc[0:5,0:5]
#df = 

#data.iloc[:,[3,4]]

            latitude            longitude
1               38.8951118         -77.0363658
3                33.800745           -84.41052
7               45.5234515        -122.6762071
9                40.764462         -111.904565
10              33.4483771        -112.0740373
11              32.2217429         -110.926479
12                   40.65              -73.95
13              33.4483771        -112.0740373
15               33.414768        -111.9093095
18              42.3584308         -71.0597732
19              33.4483771        -112.0740373
20               33.414768        -111.9093095
25              33.4483771        -112.0740373
26              33.2486638        -111.6342993
27              32.8406775        -117.2587935
29              34.0522342        -118.2436849
34               33.414768        -111.9093095
35              33.4483771        -112.0740373
38               34.483901        -114.3224548
40              34.0489281        -111.0937311
41              32.7153292        -117.1572551
42              33.4483771        -112.0740373
46              38.8951118         -77.0363658
47              33.7458511         -117.826166
49              34.0961111        -118.1058333
50              34.0522342        -118.2436849
52               37.629349         -122.400087
53               4.5980556         -74.0758333
54              33.8041667        -118.1580556
55               40.735657         -74.1723667
...                    ...                 ...
233728          32.6781085        -117.0991967
233730          34.0194543        -118.4911912
233731          37.3393857        -121.8949555
233732               40.65              -73.95
233735          43.0097027          -85.520024
233736          34.7464809         -92.2895948
233737          41.7637111         -72.6850932
233738               44.31              -96.79
233739          35.2219971        -101.8312969
233741           40.740389          -73.983385
233742          33.6411316        -117.9186689
233743           40.715972          -74.001437
233744          41.0339862         -73.7629097
233746           27.937801         -82.2859247
233749      36.08770792899   -86.6483974456787
233751          26.2034071         -98.2300124
233753           40.740389          -73.983385
233755          40.7684331         -73.5251253
233758          42.8666803         -88.3334274
233759          40.7048242         -73.6501295
233761             43.6525         -79.3816667
233765          42.3726399         -71.1096528
233769          35.9940329          -78.898619
233780          29.7628844         -95.3830615
233787          41.8781136         -87.6297982
233788              33.575        -117.7255556
233789           37.629349         -122.400087
233793          29.7628844         -95.3830615
233797           32.802955          -96.769923
233798          37.7749295        -122.4194155

[100000 rows x 2 columns]

In [59]:
ms = MeanShift(bandwidth=0.1)

In [60]:
ms.fit(df)

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [65]:
labels = ms.labels_
cluster_centers = ms.cluster_centers_

labels_unique = np.unique(labels)
n_clusters_ = len(labels_unique)
print(labels_unique)

[   0    1    2 ..., 3227 3228 3229]

In [72]:
labels
#my_members = labels == 3229
#df[my_members,0]
#for kk in range(n_clusters_):
#    cluster_center = cluster_centers[kk]
#    print(cluster_center)

array([ 5,  7, 30, ..., 25, 19,  4], dtype=int64)